* {
    font-family: "Rimouski";
}

body {
    background-color: #001e33;
}

.app-name {
    font-size: 1.5em;
    color: white;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0;
}

.container {
    width: 300px;
    background-color: #ccecff;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    padding-bottom: 30px;
    margin-top: 10px;
}

.app-title {
    width: 300px;
    height: 30px;
    border-radius: 10px 10px 0 0;
}

.app-title p {
    text-align: center;
    padding: 5px;
    margin: 0 auto;
    color: #001e33;
    font-size: 1em;
}

/* .location{
    
} */

.location p {
    margin: 0;
    padding-top: 0;
    padding: 10px auto 5px auto;
    color: #001e33;
    font-size: 1.5em;
    text-align: center;
}

.notification {
    background-color: #f8d7da;
    display: none;
}

.notification p {
    color: #721c24;
    font-size: 1.2em;
    margin: 0;
    text-align: center;
    padding: 10px 0;
}

.weather-container {
    width: 300px;
    height: 300px;
    background-color: #ccecff;
}

.weather-icon {
    width: 300px;
    height: 100px;
}

.weather-icon img {
    display: block;
    margin: 0 auto;
    padding: 0;
}

/* .icon {} */

/* .temperature-description{
    
} */

.temperature-description p {
    padding-top: 30px;
    padding-bottom: 10px;
    margin: 0;
    color: #001e33;
    font-size: 1.4em;
    text-align: center;
}

.temperature-value {
    width: 300px;
    height: 60px;
}

.temperature-value p {
    padding: 0;
    margin: 0;
    color: #001e33;
    font-size: 4em;
    text-align: center;
    cursor: pointer;
}

/* .temperature-value p:hover{
    
} */

.temperature-value span {
    color: #001e33;
    font-size: 0.5em;
}

.temperature-switch p {
    color: #001e33;
    font-size: 0.8em;
    text-align: center;
}

#search {
    display: flex;
    align-items: center;
    justify-content: center;
}

#searchbar {
    border: 1.5px solid #001e33;
    border-radius: 24px;
    font-family: "Rimouski";
    font-size: 100%;
    padding: 0.5em 1em;
}

.button {
    margin: 0.5em;
    color: #001e33;
    background: #e6f4ff;
    border-radius: 50%;
    border: 1.5px solid #001e33;
    height: 2.5em;
    width: 2.5em;
}

.button:hover {
    color: #e6f4ff;
    background: #001e33;
    cursor: pointer;
}

